html {
  background: grey;
}

/*.fa-square-o {
  text-decoration: none;
  color: #fff;
}

.fa-square-o:before {
  font-size: 60px;
  background-color: #fff
}

.fa-square-o:hover {
  transition: all ease-in-out .75s;
  transform: rotateY(360deg)
}*/