div {
  margin: auto;
}

html {
  width: 100vw;
  font-family: Arial;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

img {
  height: 31px;
}

img:hover {
  transition: all ease-in-out .75s;
  transform: rotateY(360deg)
}

.navleft {
  margin: 0px;
}

.right-nav {
  margin-top: -26px;
  margin-right: 0px;
  text-align: right;
}
.navright {
  display: inline-flex;
}

.navright li{
  padding-left: 25px;
}

#static_home {
  background-color: #e9573f;
  display: block;
  color:  white;
}

.wrapper {
  margin-bottom: 60px;
  padding: inherit;
  max-width: 780px;
}

#home_heading {
  text-align: center;
  font-size: 60px;
  font-weight: 100;
  margin-top: 35px;
}

#search-box {
  width: 100vw;
  text-indent: 6px;
  box-shadow: 0 0 0px 5px rgba(20,28,34,0.1);
  box-sizing: border-box;
  margin: 52px 10px 35px;
  padding: 10px;
  padding-right: 48px; 
  border: none;
  border-radius: 5px;
}

.fa-search {
  position: relative; 
  float: right;
  top: -66px;
  font-size: 20px;
  margin-right: 25px; 
  color: red;
}

.download_statuses{
  text-align: center;
  width: 500px;
  margin: 0 auto;
}

.home_downloads {
  font-size: 24px;
  line-height: 1;
  margin: 0 auto;
  padding: 0;
  border: 0;
}

.count {
  margin: 0 auto;
  font-weight: 600;
}

.download_text {
  font-weight: 100;
  font-size: 12px;
}

.install-btn {
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
  outline: none;
  border-radius: 20px;
  width: 500px;
  background-color: white;
  color: #e9573f;
  padding-top: 10px;
  padding-bottom: 10px;
}

.static_home_footer {
      margin: 115px auto 0px;
  width: 460px;
}

.stats {
  text-align: center;
  background-color: #141c22;
  padding-top: 14px;
  padding-bottom: 14px;
}

.stats-right {
  border-left: 1px solid #e9573f; 
}

.footer-container {
  padding-top: 47px;
}

#footer {
  border-top: 1px solid rgba(255,255,255,0.3);
  background: #141c22;
  color: #9A9A9A;
  height: 99vh;
}

#footer a {
  color: white;
  cursor: auto;
  text-decoration: none;
  height: 100%;
}

.footer-left {
  margin: 0px;
}

.footer-sidebar {
  margin: 0px;
  border-left: 1px solid rgba(255,255,255,0.3);
}

ul {
  padding-left: 10px;
}

ul li{
  list-style-type: none;
}

/*.fa-square-o {
  text-decoration: none;
  color: #fff;
}

.fa-square-o:before {
  font-size: 60px;
  background-color: #fff
}

.fa-square-o:hover {
  transition: all ease-in-out .75s;
  transform: rotateY(360deg)
}*/